<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Pressure Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-tabs>
    <ion-tab-bar slot="bottom" selectedTab="both">
      <ion-tab-button tab="back">
        <ion-icon name="tablet-portrait-outline"></ion-icon>
        Back
      </ion-tab-button>

      <ion-tab-button tab="both">
        <ion-icon name="layers-outline"></ion-icon>
        Both
      </ion-tab-button>

      <ion-tab-button tab="bottom">
        <ion-icon name="tablet-landscape-outline"></ion-icon>
        Seat
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>