<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Calibrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-text-center ion-padding-horizontal">
      <ion-col>
        <ion-text>
          <h1>
            Pressure Pad Calibration
          </h1>
        </ion-text>
        <div class="ion-margin-top">
          <ion-text>
            <h6>
              Place the sensor on an area indicated by the 
              <a href="https://uark-my.sharepoint.com/:w:/r/personal/jagoff_uark_edu/_layouts/15/Doc.aspx?sourcedoc=%7B75B1B6CC-4C6F-476E-A237-D978D1DE0AD2%7D&file=Instruction%20Manual.docx&action=default&mobileredirect=true">
                instruction manual</a>. 
              Pair the pulse oximetry monitor with the sensor. 
              Place the strap across the patient’s lap and loosely attach it with the fasteners. Wait 1 minute for a reading. 
              Watch the value for 10 seconds and if it hasn’t changed observe the value. 
              If it’s at or below 92% press calibrate if not repeat tighten the strap to the next level and repeat the procedure. 
              Repeat the process for all points indicated by the manual.
              <br>
            </h6>
          </ion-text>
          <ion-icon name="tablet-landscape-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-margin-vertical">
      <ion-button (click)="calibrateBack()">Calibrate Back</ion-button>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-margin-vertical">
      <ion-button (click)="calibrateBottom()">Calibrate Bottom</ion-button>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-margin-vertical">
      <ion-button color="danger" (click)="resetBack()">Reset Back</ion-button>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-margin-vertical">
      <ion-button color="danger" (click)="resetBottom()">Reset Bottom</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
