span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }
  
span:after {
    content: " ··················································································································································································································"
}