<ion-content>
  <ion-grid>

    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        <h1>Back Pressure Pad</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <div class="legend">
        Legend: &nbsp;&nbsp;&nbsp; 0%
        <div class="square" id="s1"></div>
        <div class="square" id="s2"></div>
        <div class="square" id="s3"></div>
        <div class="square" id="s4"></div>
        <div class="square" id="s5"></div> 100%
      </div>
    </ion-row>
    <ion-row>
        <div id="bothBackHeatmapContainer" style="height: 500px">
          <div class="overlay"></div>
        </div>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center">  
        <h1>Bottom Pressure Pad</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <div class="legend">
        Legend: &nbsp;&nbsp;&nbsp; 0%
        <div class="square" id="s1"></div>
        <div class="square" id="s2"></div>
        <div class="square" id="s3"></div>
        <div class="square" id="s4"></div>
        <div class="square" id="s5"></div> 100%
      </div>
    </ion-row>
    <ion-row>
      <ion-col>
        <div id="bothBottomHeatmapContainer">
          <div class="overlay"></div>
        </div>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
