<ion-content>
  <ion-grid class="content-pad">

    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        <h1>Bottom Pressure Pad</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="legend">
        <ion-col size="auto">0%</ion-col>
        <ion-col>
          <div class="bar-container">
            <div class="bar"></div>
          </div>
        </ion-col>
        <ion-col size="auto">100%</ion-col>
      </ion-col>
    </ion-row>

    <ion-row>  
      <div id="bottomHeatmapContainer">
        <div class="overlay"></div>
      </div>
    </ion-row>

  </ion-grid>
</ion-content>
