.content-pad {
    padding:0px 16px;
}

.legend {
    align-items: center;
    display: flex;
}

.bar-container {
    position: relative;
    height: 20px;
    width: 100%;
}
.bar {
    height: 20px;
    width: 100%;
    background-color: white;
    background-image: linear-gradient(to right, #440154, #3b528b, #21908c, #5dc863, #FDE725);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}